<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!-- Sections / -->
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ScanToCloud.WinUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <!-- / Sections -->

  <!-- Logger / -->
  <!-- Check https://logging.apache.org/log4net/release/config-examples.html -->
  <log4net>
    <appender name="ScanToCloud" type="log4net.Appender.RollingFileAppender, log4net">
      <file value="ScanToCloud.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"></levelMin>
        <levelMax value="FATAL"></levelMax>
      </filter>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ScanToCloud"/>
    </root>
  </log4net>
  <!-- / Logger -->
  
  <!-- Settings / -->
  <userSettings>
    <ScanToCloud.WinUI.Properties.Settings>
      <setting name="ShowDriverMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultAuthorName" serializeAs="String">
        <value />
      </setting>
      <setting name="StoredCloudCredentials" serializeAs="String">
        <value />
      </setting>
    </ScanToCloud.WinUI.Properties.Settings>
  </userSettings>
  <!-- / Settings -->

</configuration>
